span{
	color:red;	
	font-size:20px;
}
label{
	font-size:19px;
}
.la{
	font-size:23px;
}
.la:hover{
	color:gray;
}
.dv{
	text-align: center;
	margin-top: 50px;	
}
.dvv{
	text-align: center;
	margin-top: 20px;	
}
.ta{
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	background-color:cyan;
	border-radius: 5px;
}
.td{
	padding:6px;
}
.tb{
	font-size:18px;
	border-radius: 5px;
	width:100%;
}
.cl{
	font-size:20px;
	font-weight: bold;
}
.bt{
	background-color:green;
	color:white;
	border-radius:7px;
	font-size:19px;
	cursor: hand;
}
.sta{
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	border-radius: 5px;
	font-size:20px;
	font-family:Dubai;
	border:3px solid blue;
	border-radius:5px;
}
.ap{
	font-size:20px;
	margin-right:20px;
	text-decoration: underline; 
}
.cl{
	color:magenta;
}
.ap{
	font-size:20px;
	margin-right:20px;
	text-decoration: underline; 
}
.apc{
	font-size:25px;
	margin-right:20px;
	text-decoration: underline;
	color:purple; 
}
.a:hover{
	font-size:20px;
}
.tar{
	font-size:20px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	border-collapse: collapse;
	width:50%
}